html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  z-index: 0;
}

:root {
  --line-height-var: 100px;
}

#title {
  position: fixed;
  left: 10vh;
  line-height: inherit;
  margin-left: 0px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  z-index: 50;
  position: fixed;
  top: 0;
  line-height: var(--line-height-var);
  height: 100px;
  width: 100%;
  background-color: #2c3e50;
  color: white;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.smaller {
  height: 80px;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin: 0 5% 0 0;
}

.navbar ul li {
  display: inline-block;
  line-height: var(--line-height-var);
  margin: 0 20px 0 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/*side nav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: var(--line-height-var);
  right: 0;
  line-height: 50px;
  background-color: #567797;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: -3;
}

.sidenav label {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  font-weight: bold;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sideNavButton {
  display: none;
  float: right;
  color: white;
  line-height: var(--line-height-var);
  margin-right: 10%;
  z-index: 3;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.show {
  width: 150px;
}

.hidden {
  width: 0px;
}

/*END OF SIDE NAV*/

/* START OF LANDING PAGE */

.landing {
  width: 100%;
  height: 85vh;
  background-color: rgb(145, 145, 148);
  color: white;
}

.image {
  height: 225px;
  width: 225px;
  margin: 0 auto;
  object-fit: cover;
  object-position: 0px 3px;
  margin-top: 24vh;
  top: 300px;
  border-radius: 100%;
}

.divisor {
  margin: 0 auto;
  width: 295px;
}

.fa-star {
  width: 45px;
  height: 45px;
}

hr {
  display: inline-block;
  width: 100px;
  border: 2.5px solid;
  position: relative;
  bottom: 19px;
  margin: 0 10px 0 10px;
}

/* END OF LANDING PAGE */

/* PORTFOLIO */

.portfolio {
  height: calc(100vh - 80px);
  color: #2c3e50;
  overflow: hidden;
}

.portfolio h1 {
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  width: 60%;
  justify-items: center;
  margin: 0 auto;
  margin-top: 75px;
}

.grid-item {
  height: 200px;
  width: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-item:nth-of-type(1) {
  background-color: #38110e;
  background-image: url("components/images/stir3.png");
  background-size: 250px;
}
.grid-item:nth-of-type(2) {
  background-color: #2a708b;
  background-image: url("components/images/Wikipedia-logo.png");
  background-size: 150px;
}

.grid-item:nth-of-type(3) {
  background-color: #eaeff1;
  background-image: url("components/images/simon.png");
  background-size: 200px;
}
.grid-item:nth-of-type(4) {
  background-color: #eaeff1;
  background-image: url("components/images/tic-tac.png");
  background-size: 200px;
}

.grid-item-hidden {
  height: 200px;
  width: 100%;
  opacity: 0;
  background-color: #2c3e50;
  background-image: url("components/svg/search-plus-solid.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.grid-item-hidden:hover {
  opacity: 0.8;
}

/* END OF PORTFOLIO */

/* START OF ABOUT PAGE */

.about {
  background-color: rgb(145, 145, 148);
  color: white;
  overflow: hidden;
}

.about h1 {
  margin-top: 50px;
}

.about p {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 27px;
  margin-bottom: 20px;
}

.about p:last-child {
  margin-bottom: 80px;
}

/* END OF ABOUT PAGE */

/* CONTACT */

.contact {
  height: calc(100vh - 80px);
  color: #2c3e50;
  overflow: show;
}

.contact h1 {
  margin-top: 50px;
}

form {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

form input {
  display: inline-block;
  font-size: 18px;
  width: 100%;
  height: 100px;
  border: 0;
  border-bottom: 1px solid #ced6df;
  outline: 0;
}

#submit-button {
  width: 100px;
  height: 50px;
  margin: 0;
  margin-top: 25px;
  color: white;
  background-color: #2c3e50;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#submit-button:hover {
  background-color: #57799b;
}

#return {
  font-weight: bold;
  margin-left: 10px;
}

#loading-gif {
  height: 30px;
  width: 30px;
  position: relative;
  margin-left: 10px;
  top: 10px;
  text-align: left;
}

/* END OF CONTACT */

.around {
  position: relative;
  height: 250px;
  background-color: rgb(145, 145, 148);
  color: white;
  overflow: hidden;
}

.around h1 {
  margin-top: 50px;
}

.round-btn {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  border: 0px solid #f5f6f7;
  background-color: #ececec;
  color: #0c0c0e;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.round-btn:hover {
  background-color: #0c0c0e;
  color: #ececec;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(51, 50, 65);
}

/* MODAL STUFF */

.modal-container {
  display: block;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
  z-index: 20;
}

.hidden {
  opacity: 0;
  z-index: -2;
}

.modal-content {
  position: relative;
  top: 100px;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  background-color: white;
}

.close-button {
  font-size: 60px;
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.modal-img {
  width: 300px;
  height: 300px;
  padding-bottom: 0px;
  object-fit: contain;
}

.modal-content h1 {
  margin-top: 0px;
}

/* END OF MODAL STUFF */

@media only screen and (max-width: 720px) {
  ul {
    display: none;
  }

  #sideNavButton {
    display: inline;
  }

  #portfolio {
    height: auto;
  }

  .grid {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
  }
  .grid-item {
    width: 100%;
    margin-bottom: 35px;
  }

  #contact {
    height: auto;
  }

  .about p {
    width: 90%;
  }

  #submit-button {
    margin-bottom: 30px;
  }

  #title {
    left: 5vw;
  }

  .landing {
    height: 100vh;
  }

  .modal-img {
    width: 200px;
    height: 200px;
  }
  .divisor {
    transform: scale(0.7);
  }
  .modal-content {
    width: 90%;
    overflow: scroll;
  }
  #return {
    display: block;
    margin-bottom: 30px;
    margin-left: 0px;
  }
}
