body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #2c3e50;
  color: white;
}

#title {
  line-height: 80px;
  margin-left: 10%;
  font-size: 30px;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  float: right;
  margin: 0 5% 0 0;
}

.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px 0 20px;
}

/*side nav*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 0;
  background-color: #567797;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 4;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  font-weight: bold;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#sideNavButton {
  display: none;
  float: right;
  color: white;
  line-height: 80px;
  margin-right: 10%;
  z-index: 3;
  font-size: 30px;
  cursor: pointer;
}

.show {
  width: 150px;
}

.hidden {
  width: 0px;
}

/*end of side nav*/

@media only screen and (max-width: 720px) {
  ul {
    display: none;
  }

  #sideNavButton {
    display: inline;
  }
}
